__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
.vscode/
.mypy_cache/
.ruff_cache/
*.ipynb_checkpoints/

*.pkl
*.onnx
models/
mlruns/
mlartifacts/
mlflow.db
mlflow.db-*

data/raw/*
data/processed/*
playgrounds/*
!data/raw/.gitkeep
!data/processed/.gitkeep

